* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: bold;
}

body {
  background-color: #F58B57;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3vw;
}

p {
  font-size: 1.4vw;
}

.mainBox {
  display: flex;
  height: 28vw;
  flex-direction: row;
  justify-content: space-evenly;
}

.twoColumnBox {
  margin-left: 36vw;
  display: flex;
  width: 35vw;
  flex-direction: row;
  justify-content: space-around;
}

.columnBox {
  flex-direction: column;
  justify-content: space-evenly;
}

.columnBox .textBox > p {
  width: 24vw;
}

.textBox {
  display: flex;
  width: 100%;
}

.imageBox {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageTop {
  display: flex;
  width: 12vw;
  height: 15vw;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-position: center;
  
  position: absolute;
  top: 19%;
  left: 35%;
}

.imageBottom {
  display: flex;
  width: 13vw;
  height: 12vw;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-position: center;
  
  position: absolute;
  top: 63%;
  left: 44%;
}